<button type="button" ng-if="$ctrl.AuthenticationService.hasRole('ROLE_ADMIN') && !$ctrl.edit" class="btn btn-default"
        ng-click="$ctrl.edit = true">Edit
</button>
<div ng-if="$ctrl.edit" class="rounded-block">
    <h5 ng-bind="::'Page: ' + $ctrl.page.path | titleCase"></h5>
    <div class="masonry">
        <div model="sponsor" ng-repeat="image in $ctrl.page.images" class="form-group">
            <optional-img image-id="image.imageId"></optional-img>
            <input form-file-input type="file" file-changed="$ctrl.updateImage(file, $index)">
            <pre>&lt;img src="/files/{{image.imageId}}"&gt;</pre>
        </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="$ctrl.addImage()">Add Image</button>
    <text-angular ng-model="$ctrl.page.html"></text-angular>
    <button type="button" class="btn btn-default"
            ng-click="$ctrl.save($ctrl.page); $ctrl.edit = false">Save
    </button>
</div>
<div ng-bind-html="$ctrl.getHtml()"></div>
