@import "variables";
@import "components/nav/nav";
@import "components/footer/footer";
@import "components/footer/social_icon";
@import "components/passes/registration";

@font-face {
  font-family: 'archivo_blackregular';
  src: url('fonts/archivoblack-webfont.woff2') format('woff2'),
  url('fonts/archivoblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("images/background.jpg");
  background-color: #000;
  font-family: 'archivo_blackregular';
  .container {
    /* start 'enter' transition on main view */
    ui-view.ng-enter {
      /* transition on enter for .5s */
      transition: .5s;

      /* start with opacity 0 (invisible) */
      opacity: 0;
    }

    /* end 'enter' transition on main view */
    ui-view.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.rounded-block {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  margin: 8px;
  border: 1px solid #ccc;
  border-bottom-width: 3px;
  border-right-width: 3px;
}

a {
  &, &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
    color: black;
    &.no-pointer {
      cursor: default;
    }
  }
}

.masonry {
  column-count: 3;
  @media (max-width: 1200px) {
    column-count: 2;
  }
  @media (max-width: 600px) {
    column-count: 1;
  }
  column-gap: 0;
  width: 100%;
  > * {
    display: inline-block;
    width: 100%;

    img {
      width: 100%;
      padding: 8px;
      border-radius: 24px;
    }
  }
}

