act-listing{
	cursor: pointer;
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	color: white;
	overflow: hidden;
	margin-right: 4px;

	$boxSize: 200px;
	height: $boxSize;
	width: $boxSize;

	> div {
		$margin: 7px;
		margin: $margin;
		height: $boxSize - ($margin * 2);
		overflow: hidden;
		
	}

	img{
		display: none;
	}
}

.act-listing-modal{
	.modal-content{	
		color: white;
		background-color: black;
		padding: 25px;

		button.close{
			color: white;
		}
		
		img{
			float: left;
			margin-right: 9px;
			margin-top: 4px;
			border-radius: 4px;
			max-width: 50%;
			max-height: 100%;
		}
	}
}