<div ng-switch="$ctrl.edit">
    <div class="rounded-block">
        <form ng-switch-when="true">
            <form-input-text title="Name" model="$ctrl.model.name"></form-input-text>
            <div class="form-group">
                <label for="image">Image</label>
                <optional-img image-id="$ctrl.model.imageId"></optional-img>
                <input id="image" form-file-input type="file" file-changed="$ctrl.updateImage(file)">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <textarea id="text" ng-model="$ctrl.model.text" class="form-control"></textarea>
            </div>
            <form-input-text title="Link" model="$ctrl.model.link"></form-input-text>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input id="genre" type="text" ng-model="$ctrl.model.genre"
                       uib-typeahead="genre for genre in $ctrl.genres"
                       class="form-control" typeahead-editable="false"
                       typeahead-open-on-focus="">
            </div>
            <div class="form-group" ng-repeat="venueDate in $ctrl.model.venueDates">
                <div class="input-group">
                    <input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm"
                           ng-model="venueDate.date" is-open="datepopup.opened" timepicker-options="{'minuteStep': 15}"
                           default-time="19:00:00" placeholder="Date and Time" save-as="'number'"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default"
                                 ng-click="datepopup.opened = !datepopup.opened"><i
                                 class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <div class="input-group">
                    <input class="form-control" uib-typeahead="venue.name for venue in $ctrl.searchVenues($viewValue)"
                           ng-model="venueDate.venue.name" placeholder="Venue"
                           typeahead-on-select="venueDate.venue = $item"
                           typeahead-editable="false">
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-danger"
                                 ng-click="$ctrl.model.venueDates.splice($index, 1)"><i
                                 class="glyphicon glyphicon-remove"></i></button>
                    </span>
                </div>

            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" ng-click="$ctrl.addVenueDate()"><i
                        class="glyphicon glyphicon-plus"></i> Add Performance Date
                </button>
            </div>
            <button type="submit" class="btn btn-default" ng-click="$ctrl.changeMode()"><i
                    class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteObj()"><i
                    class="glyphicon glyphicon-remove"></i>
            </button>
        </form>
        <div ng-switch-default>
            <a href="{{::$ctrl.model.link}}" target="_blank" ng-class="{'no-pointer': !$ctrl.model.link}">
                <h3 ng-bind="::$ctrl.model.name"></h3>
                <optional-img image-id="::$ctrl.model.imageId"></optional-img>
                <div ng-bind="::$ctrl.model.text"></div>
            </a>
            <div class="" ng-repeat="venueDate in $ctrl.model.venueDates">
                <button class="btn text-left col-xs-12" style="margin: 5px auto;"
                        ng-class="going ? 'btn-success' : 'btn-default'"
                        ng-click="going = !going; $ctrl.setSchedule(venueDate, going)">
                    {{going ? "I'm Going - " : ''}}
                    {{::venueDate.venue.name}} -
                    {{::venueDate.date | date : 'MMM d h:mm a'}}
                </button>
            </div>
            <button type="button" ng-if="$ctrl.AuthenticationService.hasRole('ROLE_ADMIN')" class="btn btn-default"
                    ng-click="$ctrl.changeMode()"><i class="glyphicon glyphicon-pencil"></i>
            </button>
        </div>
    </div>
</div>



