<div class="modal-header">
    <img class="downtown-header-img" src="/images/music-logo-trans.png">
</div>
<div class="modal-body" id="modal-body">
    If you are ready to register your Utah Music Festival badge, please click Confirm. This cannot be undone. After
    clicking confirm, if you need to make changes to your registration, please contact us at
    <a href="mailto:admin@utahmusicfest.com">admin@utahmusicfest.com</a>.
    <br/><br/>
    Thank you.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$modalCtrl.$close()">Confirm</button>
    <button class="btn btn-default" type="button" ng-click="$modalCtrl.$dismiss()">Cancel</button>
</div>
