<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" ng-if="$ctrl.currentUser()">
    <form novalidate class="rounded-block" name="$ctrl.passwordForm">
        <div class="form-group">
            <label>Current Password</label>
            <input required="" class="form-control" type="password" ng-model="$ctrl.changeRequest.oldPassword">
        </div>
        <div class="form-group">
            <label>New Password</label>
            <input required="" class="form-control" type="password" ng-model="$ctrl.changeRequest.newPassword">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input required="" class="form-control" type="password" ng-model="$ctrl.confirmPassword">
        </div>
        <span style="display:none;">
            <input required="" ng-model="$ctrl.confirmPasswordCheck">
        </span>
        <div ng-show="$ctrl.changeRequest.newPassword && $ctrl.confirmPassword && !$ctrl.confirmPasswordCheck"
             class="alert alert-danger" role="alert">Passwords do not match
        </div>
        <span>
            <button type="button" ng-disabled="$ctrl.passwordForm.$invalid" class="btn btn-default"
                    ng-click="$ctrl.updatePassword($ctrl.changeRequest)">Update Password
            </button>
            <a ui-sref="passes">
                <button type="button" class="btn btn-default">Back</button>
            </a>
        </span>
    </form>
</div>
