<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="rounded-block">
        <h3>Login</h3>
        <form-input-text title="Email" model="email"></form-input-text>
        <form-input-text title="Password" model="password"></form-input-text>
        <button class="btn btn-default" ng-click="$ctrl.login(email, password)">Login</button>
        <button class="btn btn-default">Forgot?</button>
        <a ui-sref="registration">
            <button class="btn btn-default">Register</button>
        </a>
    </div>
    <div class="rounded-block">
        <h3>Forgot Password</h3>
        <form-input-text title="Email"></form-input-text>
        <button class="btn btn-default">Recover Account</button>
    </div>
    <div class="rounded-block">
        <h3>Attach a pass</h3>
        <form-input-text title="Pass Barcode"></form-input-text>
        <button class="btn btn-default">City Weekly <i class="glyphicon glyphicon-new-window"></i></button>
        <button class="btn btn-default">Attach</button>
    </div>
    <div class="rounded-block">
        <h3>Purchase Tickets at City Weekly</h3>
        <br/>
        <button class="btn btn-default">City Weekly <i class="glyphicon glyphicon-new-window"></i></button>
        <button class="btn btn-default">I have a pass</button>
    </div>
</div>


