<div class="col-md-6">
    <div class="rounded-block">
        <h3>Login</h3>
        <form-input-text title="Username"></form-input-text>
        <form-input-text title="Password"></form-input-text>
        <button class="btn btn-default">Login</button>
    </div>
    <div class="rounded-block">
        <h3>Purchase Tickets at City Weekly</h3>
        <br/>
        <button class="btn btn-default">City Weekly <i class="glyphicon glyphicon-new-window"></i></button>
    </div>
</div>

<div class="col-md-6">
    <div class="rounded-block">
        <h3>Register</h3>
        <form-input-text title="Pass Barcode"></form-input-text>
        <form-input-text title="Birthdate"></form-input-text>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input id="gender" type="text" ng-model="$ctrl.gender" uib-typeahead="state for state in ['Male', 'Female']"
                   class="form-control" typeahead-select-on-blur="true" typeahead-editable="false"
                   typeahead-open-on-focus="">
        </div>
        <form-input-text title="Full Name"></form-input-text>
        <form-input-text title="Address"></form-input-text>
        <form-input-text title="Phone"></form-input-text>
        <form-input-text title="Email"></form-input-text>
        <button class="btn btn-default">Register</button>
    </div>
</div>
