<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
     ng-init="usernameMinlength = 4; passwordMinlength = 8">
    <form novalidate class="rounded-block" name="$ctrl.registrationForm">
        <h3 ng-if="!$ctrl.currentUser()">Register</h3>
        <h3 ng-if="$ctrl.currentUser()">Modify Account</h3>
        <div class="form-group">
            <label for="email">Email</label>
            <input required="" id="email" name="email" class="form-control" type="email" ng-model="$ctrl.account.email"
                   ng-change="$ctrl.usernameTaken = false" ng-minlength="usernameMinlength">
        </div>
        <div ng-show="$ctrl.usernameTaken"
             class="alert alert-danger" role="alert">This email is already in use.
        </div>
        <div ng-show="$ctrl.registrationForm.email.$error.email"
             class="alert alert-danger" role="alert">Must be a valid email.
        </div>
        <div ng-show="$ctrl.registrationForm.email.$error.minlength"
             class="alert alert-danger" role="alert">Must be at least {{::usernameMinlength}} characters.
        </div>
        <div ng-if="!$ctrl.currentUser()" class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" required="" class="form-control" type="password"
                   ng-model="$ctrl.account.password"
                   ng-minlength="passwordMinlength">
        </div>
        <div ng-if="!$ctrl.currentUser()" class="form-group">
            <label>Confirm Password</label>
            <input required="" class="form-control" type="password" ng-model="$ctrl.confirmPassword">
        </div>
        <div ng-show="!$ctrl.confirmPasswordCheck && $ctrl.account.password && $ctrl.confirmPassword"
             class="alert alert-danger" role="alert">Passwords do not match
        </div>
        <div ng-show="$ctrl.confirmPassword && $ctrl.registrationForm.password.$error.minlength"
             class="alert alert-danger" role="alert">Must be at least {{::passwordMinlength}} characters.
        </div>
        <span ng-if="!$ctrl.currentUser()" style="display:none;">
            <input required="" ng-model="$ctrl.confirmPasswordCheck">
        </span>
        <div ng-if="!$ctrl.currentUser()" class="form-group">
            <label for="heardAbout">How did you hear about us?</label>
            <input id="heardAbout" type="text" ng-model="$ctrl.account.heardAbout"
                   uib-typeahead="state for state in ['CityWeekly.com', 'Family', 'Friend', 'Internet search',
                   'Social Media', ' TV', 'Radio', 'Flyer', 'Newspaper']"
                   class="form-control"
                   typeahead-open-on-focus="">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <label>Birthdate</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="longDate"
                           ng-model="$ctrl.account.birthDate"
                           close-text="Close" is-open="datepopup.opened" date-options="$ctrl.dateOptions"
                           alt-input-formats="['yyyy-MM-dd']"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default"
                                 ng-click="datepopup.opened = !datepopup.opened"><i
                                 class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input id="gender" type="text" ng-model="$ctrl.account.gender"
                           uib-typeahead="state for state in ['Male', 'Female']"
                           class="form-control" typeahead-select-on-blur="true" typeahead-editable="false"
                           typeahead-open-on-focus="">
                </div>
            </div>
        </div>
        <div ng-show="$ctrl.isYoung()"
             class="alert alert-info" role="alert">Most venues will serve alcohol and require participants to be 21 and
            older with ID.
        </div>
        <form-input-text title="Full Name" model="$ctrl.account.name"></form-input-text>
        <form-input-text title="Address" model="$ctrl.account.address"></form-input-text>
        <form-input-text title="Phone" model="$ctrl.account.phone"></form-input-text>
        <span ng-if="$ctrl.currentUser()">
            <button type="submit" ng-disabled="$ctrl.registrationForm.$invalid && !$ctrl.registrationForm.$dirty "
                    class="btn btn-default"
                    uib-tooltip="Email is required." ng-click="$ctrl.save($ctrl.account)">Save
            </button>
            <a ui-sref="password">
                <button type="button" class="btn btn-default">Change Password</button>
            </a>
        </span>
        <span ng-if="!$ctrl.currentUser()">
            <button type="submit" ng-disabled="$ctrl.registrationForm.$invalid" class="btn btn-default"
                    uib-tooltip="Email and password are required." ng-click="$ctrl.register($ctrl.account)">Register
            </button>
            <a ui-sref="passes">
                <button type="button" class="btn btn-default">Back to Login</button>
            </a>
        </span>
    </form>
</div>
