<div class="col-xs-12 col-md-8 col-md-offset-2"
     ng-init="usernameMinlength = 4; passwordMinlength = 8">
    <form novalidate class="rounded-block" name="$ctrl.registrationForm">
        <fieldset ng-disabled="$ctrl.isRegistering">
            <h3>Register Your Pass</h3>
            <div ng-form name="$ctrl.passForm">
                <div class="form-group">
                    <label for="passBarcode">Pass Barcode</label>
                    <div class="input-group">
                        <span ng-if="$ctrl.passIsValid" style="color: #3c763d;" class="input-group-addon">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <input id="passBarcode" name="passBarcode" class="form-control" ng-minlength="8"
                               ng-maxlength="8"
                               ng-keyup="$event.keyCode == 13 && $ctrl.checkPass($ctrl.account.cityWeeklyTicketId)"
                               required="" ng-disabled="$ctrl.passIsValid"
                               ng-model="$ctrl.account.cityWeeklyTicketId" ng-pattern="'[0-9]+'">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-disabled="$ctrl.passForm.passBarcode.$invalid"
                                    ng-click="$ctrl.checkPass($ctrl.account.cityWeeklyTicketId)">
                                {{$ctrl.passIsValid ? 'Change' : 'Check Pass'}}
                            </button>
                        </span>
                    </div>
                </div>
                <div ng-show="$ctrl.passForm.passBarcode.$error.minlength || $ctrl.passForm.passBarcode.$error.maxlength"
                     class="alert alert-danger" role="alert">
                    {{$ctrl.passForm.passBarcode.$error.maxlength ?
                    'Too long.' : 'Too short.'}} Must be 8 digits.
                </div>
                <div ng-show="$ctrl.passForm.passBarcode.$error.pattern"
                     class="alert alert-danger" role="alert">There are invalid characters.
                </div>
                <div ng-show="$ctrl.passTaken"
                     class="alert alert-danger" role="alert">This pass is in use or invalid. If this is
                    in error or you need to update information on an existing pass, please contact us at
                    <a href="mailto:admin@utahmusicfest.com">admin@utahmusicfestival.com</a>
                </div>
                <div ng-show="$ctrl.checkingPass"
                     class="alert alert-info" role="alert">Validating pass...
                </div>
            </div>
            <ng-form name="$ctrl.accountInfoForm">
                <fieldset ng-disabled="$ctrl.passForm.$invalid || $ctrl.passTaken || !$ctrl.passIsValid">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input required="" id="email" name="email" class="form-control" type="email"
                               ng-model="$ctrl.account.email"
                               ng-change="$ctrl.usernameTaken = false" ng-minlength="usernameMinlength">
                    </div>
                    <div ng-show="$ctrl.usernameTaken"
                         class="alert alert-danger" role="alert">This email is already in use.
                    </div>
                    <div ng-show="$ctrl.registrationForm.email.$error.email"
                         class="alert alert-danger" role="alert">Must be a valid email.
                    </div>
                    <div ng-show="$ctrl.registrationForm.email.$error.minlength"
                         class="alert alert-danger" role="alert">Must be at least {{::usernameMinlength}} characters.
                    </div>
                    <div class="form-group">
                        <label for="heardAbout">How did you hear about us?</label>
                        <div class="input-group">
                            <input id="heardAbout" type="text" ng-model="$ctrl.account.heardAbout"
                                   uib-typeahead="heardAbout for heardAbout in ['CityWeekly.com', 'Family', 'Friend', 'Internet search',
                   'Social Media', ' TV', 'Radio', 'Flyer', 'Newspaper']" typeahead-focus-first="false"
                                   class="form-control" required=""
                                   typeahead-open-on-focus="">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Musical Genre Preference</label>
                        <div class="input-group">
                            <input id="genrePreferences" type="text" ng-model="genreText"
                                   uib-typeahead="genrePreference for genrePreference in $ctrl.genres"
                                   class="form-control" typeahead-on-select="$ctrl.addGenre($item); genreText = ''"
                                   typeahead-open-on-focus="">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        </div>

                        <button type="button" class="btn btn-primary genre-button"
                                ng-repeat="genre in $ctrl.genrePreferences"
                                ng-click="$ctrl.deleteGenre($index)">{{::genre}} <i
                                class="glyphicon glyphicon-remove"></i></button>

                        <input ng-model="$ctrl.account.genrePreferences" required="" style="display: none;">
                    </div>
                    <div class="row">
                        <form-input-text class="col-xs-12 col-md-4" title="First Name"
                                         model="$ctrl.account.firstName" required="true"></form-input-text>
                        <form-input-text class="col-xs-12 col-md-4" title="Middle Name"
                                         model="$ctrl.account.middleName"></form-input-text>
                        <form-input-text class="col-xs-12 col-md-4" title="Last Name"
                                         model="$ctrl.account.lastName" required="true"></form-input-text>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Birthdate</label>
                            <div class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="longDate"
                                       ng-model="$ctrl.account.birthDate" required=""
                                       close-text="Close" is-open="datepopup.opened" date-options="$ctrl.dateOptions"
                                       alt-input-formats="['yyyy-MM-dd']"/>
                                <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="datepopup.opened = !datepopup.opened"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <div class="input-group">
                                    <input id="gender" type="text" ng-model="$ctrl.account.gender"
                                           uib-typeahead="state for state in ['Male', 'Female']"
                                           class="form-control" typeahead-select-on-blur="true"
                                           typeahead-editable="false"
                                           typeahead-open-on-focus="" required="">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="$ctrl.isYoung()"
                         class="alert alert-danger" role="alert">Most venues will serve alcohol and require
                        participants
                        to be 21 and older with ID.
                    </div>
                    <div class="row">
                        <form-input-text class="col-xs-12 col-sm-6" title="Address 1"
                                         model="$ctrl.account.address1" required="true"></form-input-text>
                        <form-input-text class="col-xs-12 col-sm-6" title="Address 2"
                                         model="$ctrl.account.address2"></form-input-text>
                        <form-input-text class="col-xs-12 col-md-4" title="City"
                                         model="$ctrl.account.city" required="true"></form-input-text>
                        <form-input-text class="col-xs-12 col-sm-6 col-md-4" title="State"
                                         model="$ctrl.account.state" required="true"></form-input-text>
                        <form-input-text class="col-xs-12 col-sm-6 col-md-4" title="Zip"
                                         model="$ctrl.account.zip" required="true"></form-input-text>
                    </div>
                    <div class="row">
                        <form-input-text class="col-xs-12 col-sm-6" title="Phone"
                                         model="$ctrl.account.phone" required="true"></form-input-text>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="phoneType">Phone Type</label>
                                <div class="input-group">
                                    <input id="phoneType" type="text" ng-model="$ctrl.account.phoneType"
                                           uib-typeahead="phone for phone in ['Cell', 'Home', 'Work', 'Fax']"
                                           class="form-control" typeahead-select-on-blur="true"
                                           typeahead-editable="false"
                                           typeahead-open-on-focus="">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </fieldset>
            </ng-form>
        </fieldset>
        <div class="form-group">
            <button type="submit" formnovalidate
                    ng-disabled="$ctrl.registrationForm.$invalid || $ctrl.isRegistering || $ctrl.isRegisteredSuccess || !$ctrl.passIsValid"
                    class="btn btn-default"
                    uib-tooltip="You must fill out the required fields."
                    ng-click="$ctrl.register($ctrl.account)">
                Register
            </button>
            <button type="button" ng-show="$ctrl.isRegisteredSuccess"
                    class="btn btn-default"
                    ng-click="$ctrl.reset()">
                Register Another
            </button>
            <a class="pull-right" href="//UtahMusicFest.com">
                <button type="button" class="btn btn-default">Back to Main Site</button>
            </a>
        </div>
        <div ng-show="$ctrl.isRegisteredSuccess"
             class="alert alert-info" role="alert">Congratulations, your pass is now registered.
        </div>
        <div ng-show="$ctrl.registrationFailed"
             class="alert alert-danger" role="alert">There was an issue processing your registration. Please try again
            later.<br/>If this problem persists, please contact us at
            <a href="mailto:admin@utahmusicfestival.com">admin@utahmusicfest.com</a>
        </div>
    </form>
</div>
