$nav-height: 120px;

navigation{
	display: block;
	width: 100%;
	margin: 15px;
	font-family: 'Almendra SC', serif;
	font-size: 1.3em;
	img.logo{
		max-height: $nav-height;
		max-width: 300px;
		margin-right: 14px;
		float: left;
		@media (max-width: 699px){
			height: 79px;
		}
	}

	nav-link a{
		margin: 15px;
		padding: 5px 8px;
		display: inline-block;
		background-color: #ddd;
		text-align: center;
		transition: all 0.5s linear;
		border: 0;
		border-radius: 4px;

		&, &:hover, &:active, &:focus{
			outline: 0;
			text-decoration: none;
			color: black;
		}

		&:hover{
			background-color: transparent;
			margin: 5px;
			padding: 15px 18px;
			border-radius: 25px;
		}
	}
	a.downtown-rising{
		font-size: 2em;

		&, &:hover, &:active, &:focus{
			outline: 0;
			text-decoration: none;
			color: black;
		}
	}
}