<div class="container">
    <social-icon network="facebook" link=" https://www.facebook.com/UtahMusicFest/"></social-icon>
    <social-icon network="youtube" link="https://www.youtube.com/"></social-icon>
    <social-icon network="google" link="https://plus.google.com/"></social-icon>
    <social-icon network="twitter" link="https://twitter.com/UtahMusicFestvl"></social-icon>
    <social-icon network="instagram" link="https://www.instagram.com/UtahMusicFest/"></social-icon>

    <span class="pull-right" ng-if="$ctrl.ScheduleService.hasEvents()">
        <button class="btn btn-default" ng-click="$ctrl.ScheduleService.generateICS()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</div>
