<div class="rounded-block">
    <h1>Sponsors</h1>
    <p>TODO Show sponsor listings</p>
    <p>Sponsor page broken out by level of sponsorship with logos to each of their websites.</p>
</div>

<div class="col-xs-12 col-sm-6 col-md-3 rounded-block">
    <h3>Create New Sponsor</h3>
    <form-input-text title="Name"></form-input-text>
    <label for="text">Text</label>
    <textarea id="text" class="form-control"></textarea>
    <label for="image">Image</label>
    <input id="image" form-file-input type="file">
</div>
