<div class="col-xs-12 rounded-block">
    TODO: Wire up comments.
</div>
<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
    <form-input-text title="Name"></form-input-text>
    <form-input-text title="Phone"></form-input-text>
    <form-input-text title="Email"></form-input-text>
    <label for="comment">Comment</label>
    <textarea id="comment" class="form-control"></textarea>
    <button type="submit" class="btn btn-default" ng-click="$ctrl.submit()">Submit</button>
</div>
